Package: mwr.needle.agent
Name: NeedleAgent
Version: 1.0.5
Architecture: iphoneos-arm
Description: Needle Agent
Homepage: http://mobiletools.mwrinfosecurity.com
Maintainer: Marco Lancini
Author: Marco Lancini
Sponsor: MWR InfoSecurity <https://www.mwrinfosecurity.com>
Section: Develpment
